header{
    background-color: black;
 padding-left: 80px;
 padding-top: 10px;

}
h1{

color: red;
}
body{
margin: 0px;
background-color: black;
}
h2{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: white;
}
p{

width: 500px;
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
color: white;
}
hr{
    height: 6px;
    background-color: aliceblue;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{color: aliceblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: ;}